<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>managementsystem.aurelijaz.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://managementsystem.aurelijaz.co.uk:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>aurelija-001-subsite5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\aurelija-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="manage.Context.EventContext" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A109B1_newdb;Persist Security Info=True;User ID=DB_A109B1_newdb_admin;Password=auryte4013;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="manage.Context.EventContext, manage" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A109B1_newdb;Persist Security Info=True;User ID=DB_A109B1_newdb_admin;Password=auryte4013;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="manage.Models.ApplicationDbContext, manage" MigrationConfiguration="manage.Migrations.Configuration, manage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A109B1_newdb;Persist Security Info=True;User ID=DB_A109B1_newdb_admin;Password=auryte4013;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)manage.Context.EventContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A109B1_newdb;Persist Security Info=True;User ID=DB_A109B1_newdb_admin;Password=auryte4013;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="manage.Context.EventContext" />
  </ItemGroup>
</Project>